.tokenCard{
    cursor: pointer;
}
.connectBtn{
    margin-top: 10px;
}

.address{
    margin-top: 10px;
}
 .addr{
font-weight: 600;
color: rgb(78, 130, 241);
}

.error{
    color: red;
    font-weight: bold;
}
.success{
    color:rgb(14, 189, 14);
    font-weight: bold;
    font-size: 20px;
}
.icon{
    display: inline-block;
    margin-right: 10px;
}