@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto&display=swap');


.crypto-page{
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.tokenCard{
    cursor: pointer;
}
.connectBtn{
    margin-top: 10px;
}

.address{
    margin-top: 10px;
}
 .addr{
font-weight: 600;
color: rgb(104, 151, 253);
}

.error{
    color: red;
    font-weight: bold;
}
.success{
    color:rgb(14, 189, 14);
    font-weight: bold;
    font-size: 20px;
}
.icon{
    display: inline-block;
    margin-right: 10px;
}

.bnbV{
    color: blue;
    margin-left: 10px;
    font-weight: 600;
}

.py{
    padding: 15px;
}

.address-section{
    font-size: 15px;
}