.document_date {
  position: absolute;
  top: 52px;
  left: 41px;
  font-size: 5px;
}

.document_investor {
  position: absolute;
  top: 110px;
  left: 70px;
  font-size: 5px;
}

.document_unit {
  position: absolute;
  top: 172px;
  left: 200px;
  font-size: 5px;
}

.document_unit_price {
  position: absolute;
  top: 45px;
  left: 180px;
  font-size: 5px;
}

.document_unit_price_ugx {
  position: absolute;
  top: 54px;
  left: 105px;
  font-size: 5px;
}

.document_unit_percentage {
  position: absolute;
  top: 54px;
  left: 155px;
  font-size: 5px;
}

.document_investor_name {
  position: absolute;
  top: 45px;
  left: 50px;
  font-size: 5px;
}
.document_nok,
.document_nok_relationship,
.document_nok_address,
.document_beneficiary,
.document_beneficiary_relationship,
.document_beneficiary_address {
  position: absolute;
  left: 70px;
  background-color: transparent;
  font-size: 5px;
  padding: 4px;
  width: 50%;
  z-index: 10;
}
.document_nok {
  top: 75px;
}
.document_nok_relationship {
  top: 90px;
}
.document_nok_address {
  top: 106px;
}
.document_beneficiary {
  top: 120px;
}
.document_beneficiary_relationship {
  top: 136px;
}
.document_beneficiary_address {
  top: 152px;
}

@media (min-width: 360px) {
  .document_date {
    position: absolute;
    top: 56px;
    left: 41px;
    font-size: 6px;
  }

  .document_investor {
    position: absolute;
    top: 115px;
    left: 70px;
    font-size: 6px;
  }

  .document_unit {
    position: absolute;
    top: 180px;
    left: 220px;
    font-size: 6px;
  }

  .document_unit_price {
    position: absolute;
    top: 48px;
    left: 180px;
    font-size: 6px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 56px;
    left: 110px;
    font-size: 6px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 56px;
    left: 161px;
    font-size: 6px;
  }

  .document_investor_name {
    position: absolute;
    top: 45px;
    left: 50px;
    font-size: 6px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 75px;
    background-color: transparent;
    font-size: 6px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 80px;
  }
  .document_nok_relationship {
    top: 95px;
  }
  .document_nok_address {
    top: 110px;
  }
  .document_beneficiary {
    top: 126px;
  }
  .document_beneficiary_relationship {
    top: 143px;
  }
  .document_beneficiary_address {
    top: 158px;
  }
}

@media (min-width: 380px) {
  .document_date {
    position: absolute;
    top: 59px;
    left: 46px;
    font-size: 6px;
  }

  .document_investor {
    position: absolute;
    top: 124px;
    left: 72px;
    font-size: 6px;
  }

  .document_unit {
    position: absolute;
    top: 193px;
    left: 230px;
    font-size: 6px;
  }

  .document_unit_price {
    position: absolute;
    top: 52px;
    left: 200px;
    font-size: 6px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 61px;
    left: 120px;
    font-size: 6px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 61px;
    left: 172px;
    font-size: 6px;
  }

  .document_investor_name {
    position: absolute;
    top: 50px;
    left: 60px;
    font-size: 6px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 90px;
    background-color: transparent;
    font-size: 6px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 90px;
  }
  .document_nok_relationship {
    top: 105px;
  }
  .document_nok_address {
    top: 125px;
  }
  .document_beneficiary {
    top: 142px;
  }
  .document_beneficiary_relationship {
    top: 158px;
  }
  .document_beneficiary_address {
    top: 175px;
  }
}

@media (min-width: 390px) {
  .document_date {
    position: absolute;
    top: 60px;
    left: 46px;
    font-size: 7px;
  }

  .document_investor {
    position: absolute;
    top: 128px;
    left: 75px;
    font-size: 6px;
  }

  .document_unit {
    position: absolute;
    top: 198px;
    left: 240px;
    font-size: 6px;
  }

  .document_unit_price {
    position: absolute;
    top: 53px;
    left: 200px;
    font-size: 6px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 63px;
    left: 120px;
    font-size: 6px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 63px;
    left: 178px;
    font-size: 6px;
  }

  .document_investor_name {
    position: absolute;
    top: 50px;
    left: 60px;
    font-size: 6px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 90px;
    background-color: transparent;
    font-size: 6px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 90px;
  }
  .document_nok_relationship {
    top: 105px;
  }
  .document_nok_address {
    top: 125px;
  }
  .document_beneficiary {
    top: 142px;
  }
  .document_beneficiary_relationship {
    top: 158px;
  }
  .document_beneficiary_address {
    top: 175px;
  }
}

@media (min-width: 400px) {
  .document_date {
    position: absolute;
    top: 63px;
    left: 50px;
    font-size: 7px;
  }

  .document_investor {
    position: absolute;
    top: 135px;
    left: 80px;
    font-size: 7px;
  }

  .document_unit {
    position: absolute;
    top: 208px;
    left: 245px;
    font-size: 6px;
  }

  .document_unit_price {
    position: absolute;
    top: 55px;
    left: 200px;
    font-size: 6px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 65px;
    left: 125px;
    font-size: 6px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 65px;
    left: 182px;
    font-size: 6px;
  }

  .document_investor_name {
    position: absolute;
    top: 62px;
    left: 60px;
    font-size: 8px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 100px;
    background-color: transparent;
    font-size: 7px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 105px;
  }
  .document_nok_relationship {
    top: 125px;
  }
  .document_nok_address {
    top: 145px;
  }
  .document_beneficiary {
    top: 165px;
  }
  .document_beneficiary_relationship {
    top: 185px;
  }
  .document_beneficiary_address {
    top: 205px;
  }
}

@media (min-width: 410px) {
  .document_date {
    position: absolute;
    top: 67px;
    left: 50px;
    font-size: 7px;
  }

  .document_investor {
    position: absolute;
    top: 140px;
    left: 85px;
    font-size: 7px;
  }

  .document_unit {
    position: absolute;
    top: 220px;
    left: 255px;
    font-size: 7px;
  }

  .document_unit_price {
    position: absolute;
    top: 57px;
    left: 200px;
    font-size: 7px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 67px;
    left: 125px;
    font-size: 7px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 67px;
    left: 186px;
    font-size: 7px;
  }

  .document_investor_name {
    position: absolute;
    top: 62px;
    left: 60px;
    font-size: 8px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 100px;
    background-color: transparent;
    font-size: 7px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 105px;
  }
  .document_nok_relationship {
    top: 125px;
  }
  .document_nok_address {
    top: 145px;
  }
  .document_beneficiary {
    top: 165px;
  }
  .document_beneficiary_relationship {
    top: 185px;
  }
  .document_beneficiary_address {
    top: 205px;
  }
}

@media (min-width: 450px) {
  .document_date {
    position: absolute;
    top: 74px;
    left: 55px;
    font-size: 8px;
  }

  .document_investor {
    position: absolute;
    top: 155px;
    left: 94px;
    font-size: 8px;
  }

  .document_unit {
    position: absolute;
    top: 233px;
    left: 275px;
    font-size: 8px;
  }

  .document_unit_price {
    position: absolute;
    top: 63px;
    left: 240px;
    font-size: 8px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 75px;
    left: 150px;
    font-size: 8px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 75px;
    left: 205px;
    font-size: 8px;
  }

  .document_investor_name {
    position: absolute;
    top: 62px;
    left: 60px;
    font-size: 8px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 100px;
    background-color: transparent;
    font-size: 7px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 105px;
  }
  .document_nok_relationship {
    top: 125px;
  }
  .document_nok_address {
    top: 145px;
  }
  .document_beneficiary {
    top: 165px;
  }
  .document_beneficiary_relationship {
    top: 185px;
  }
  .document_beneficiary_address {
    top: 205px;
  }
}

@media (min-width: 480px) {
  .document_date {
    position: absolute;
    top: 80px;
    left: 60px;
    font-size: 8px;
  }

  .document_investor {
    position: absolute;
    top: 163px;
    left: 96px;
    font-size: 8px;
  }

  .document_unit {
    position: absolute;
    top: 252px;
    left: 295px;
    font-size: 8px;
  }

  .document_unit_price {
    position: absolute;
    top: 70px;
    left: 270px;
    font-size: 8px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 82px;
    left: 160px;
    font-size: 8px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 82px;
    left: 220px;
    font-size: 8px;
  }

  .document_investor_name {
    position: absolute;
    top: 68px;
    left: 70px;
    font-size: 8px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 110px;
    background-color: transparent;
    font-size: 8px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 115px;
  }
  .document_nok_relationship {
    top: 135px;
  }
  .document_nok_address {
    top: 158px;
  }
  .document_beneficiary {
    top: 180px;
  }
  .document_beneficiary_relationship {
    top: 200px;
  }
  .document_beneficiary_address {
    top: 220px;
  }
}

@media (min-width: 490px) {
  .document_date {
    position: absolute;
    top: 83px;
    left: 65px;
    font-size: 8px;
  }

  .document_investor {
    position: absolute;
    top: 170px;
    left: 105px;
    font-size: 8px;
  }

  .document_unit {
    position: absolute;
    top: 260px;
    left: 300px;
    font-size: 8px;
  }

  .document_unit_price {
    position: absolute;
    top: 70px;
    left: 270px;
    font-size: 8px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 82px;
    left: 160px;
    font-size: 8px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 82px;
    left: 225px;
    font-size: 8px;
  }

  .document_investor_name {
    position: absolute;
    top: 70px;
    left: 70px;
    font-size: 9px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 110px;
    background-color: transparent;
    font-size: 8px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 118px;
  }
  .document_nok_relationship {
    top: 140px;
  }
  .document_nok_address {
    top: 162px;
  }
  .document_beneficiary {
    top: 184px;
  }
  .document_beneficiary_relationship {
    top: 204px;
  }
  .document_beneficiary_address {
    top: 228px;
  }
}

@media (min-width: 500px) {
  .document_date {
    position: absolute;
    top: 85px;
    left: 65px;
    font-size: 8px;
  }

  .document_investor {
    position: absolute;
    top: 175px;
    left: 105px;
    font-size: 8px;
  }

  .document_unit {
    position: absolute;
    top: 265px;
    left: 300px;
    font-size: 8px;
  }

  .document_unit_price {
    position: absolute;
    top: 75px;
    left: 280px;
    font-size: 8px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 88px;
    left: 160px;
    font-size: 8px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 88px;
    left: 235px;
    font-size: 8px;
  }

  .document_investor_name {
    position: absolute;
    top: 70px;
    left: 70px;
    font-size: 9px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 110px;
    background-color: transparent;
    font-size: 8px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 120px;
  }
  .document_nok_relationship {
    top: 142px;
  }
  .document_nok_address {
    top: 164px;
  }
  .document_beneficiary {
    top: 188px;
  }
  .document_beneficiary_relationship {
    top: 210px;
  }
  .document_beneficiary_address {
    top: 232px;
  }
}

/* XXXS */
@media (min-width: 520px) {
  .document_date {
    position: absolute;
    top: 90px;
    left: 65px;
    font-size: 9px;
  }

  .document_investor {
    position: absolute;
    top: 182px;
    left: 110px;
    font-size: 10px;
  }

  .document_unit {
    position: absolute;
    top: 275px;
    left: 310px;
    font-size: 9px;
  }

  .document_unit_price {
    position: absolute;
    top: 80px;
    left: 300px;
    font-size: 9px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 91px;
    left: 175px;
    font-size: 9px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 91px;
    left: 245px;
    font-size: 9px;
  }

  .document_investor_name {
    position: absolute;
    top: 72px;
    left: 80px;
    font-size: 10px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 115px;
    background-color: transparent;
    font-size: 8px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 125px;
  }
  .document_nok_relationship {
    top: 148px;
  }
  .document_nok_address {
    top: 170px;
  }
  .document_beneficiary {
    top: 195px;
  }
  .document_beneficiary_relationship {
    top: 218px;
  }
  .document_beneficiary_address {
    top: 242px;
  }
}

/* XXS */
@media (min-width: 540px) {
  .document_date {
    position: absolute;
    top: 93px;
    left: 73px;
    font-size: 10px;
  }

  .document_investor {
    position: absolute;
    top: 192px;
    left: 110px;
    font-size: 10px;
  }

  .document_unit {
    position: absolute;
    top: 287px;
    left: 330px;
    font-size: 10px;
  }

  .document_unit_price {
    position: absolute;
    top: 84px;
    left: 300px;
    font-size: 10px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 98px;
    left: 185px;
    font-size: 10px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 98px;
    left: 260px;
    font-size: 10px;
  }

  .document_investor_name {
    position: absolute;
    top: 76px;
    left: 80px;
    font-size: 10px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 120px;
    background-color: transparent;
    font-size: 9px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 132px;
  }
  .document_nok_relationship {
    top: 156px;
  }
  .document_nok_address {
    top: 180px;
  }
  .document_beneficiary {
    top: 205px;
  }
  .document_beneficiary_relationship {
    top: 228px;
  }
  .document_beneficiary_address {
    top: 253px;
  }
}

/* XXS */
@media (min-width: 580px) {
  .document_date {
    position: absolute;
    top: 100px;
    left: 73px;
    font-size: 10px;
  }

  .document_investor {
    position: absolute;
    top: 205px;
    left: 110px;
    font-size: 10px;
  }

  .document_unit {
    position: absolute;
    top: 318px;
    left: 360px;
    font-size: 10px;
  }

  .document_unit_price {
    position: absolute;
    top: 88px;
    left: 330px;
    font-size: 10px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 103px;
    left: 194px;
    font-size: 10px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 103px;
    left: 273px;
    font-size: 10px;
  }

  .document_investor_name {
    position: absolute;
    top: 84px;
    left: 90px;
    font-size: 10px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 130px;
    background-color: transparent;
    font-size: 10px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 145px;
  }
  .document_nok_relationship {
    top: 170px;
  }
  .document_nok_address {
    top: 195px;
  }
  .document_beneficiary {
    top: 220px;
  }
  .document_beneficiary_relationship {
    top: 250px;
  }
  .document_beneficiary_address {
    top: 275px;
  }
}

/* XS */
@media (min-width: 600px) {
  .document_date {
    position: absolute;
    top: 105px;
    left: 73px;
    font-size: 10px;
  }

  .document_investor {
    position: absolute;
    top: 217px;
    left: 120px;
    font-size: 10px;
  }

  .document_unit {
    position: absolute;
    top: 340px;
    left: 380px;
    font-size: 10px;
  }

  .document_unit_price {
    position: absolute;
    top: 92px;
    left: 330px;
    font-size: 10px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 108px;
    left: 200px;
    font-size: 10px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 108px;
    left: 288px;
    font-size: 10px;
  }

  .document_investor_name {
    position: absolute;
    top: 88px;
    left: 90px;
    font-size: 10px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 135px;
    background-color: transparent;
    font-size: 10px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 150px;
  }
  .document_nok_relationship {
    top: 178px;
  }
  .document_nok_address {
    top: 205px;
  }
  .document_beneficiary {
    top: 230px;
  }
  .document_beneficiary_relationship {
    top: 258px;
  }
  .document_beneficiary_address {
    top: 285px;
  }
}

/* XS */
@media (min-width: 620px) {
  .document_date {
    position: absolute;
    top: 105px;
    left: 73px;
    font-size: 10px;
  }

  .document_investor {
    position: absolute;
    top: 217px;
    left: 120px;
    font-size: 10px;
  }

  .document_unit {
    position: absolute;
    top: 340px;
    left: 380px;
    font-size: 10px;
  }

  .document_unit_price {
    position: absolute;
    top: 96px;
    left: 330px;
    font-size: 10px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 112px;
    left: 200px;
    font-size: 10px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 112px;
    left: 294px;
    font-size: 10px;
  }

  .document_investor_name {
    position: absolute;
    top: 92px;
    left: 100px;
    font-size: 10px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 140px;
    background-color: transparent;
    font-size: 10px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 155px;
  }
  .document_nok_relationship {
    top: 182px;
  }
  .document_nok_address {
    top: 210px;
  }
  .document_beneficiary {
    top: 240px;
  }
  .document_beneficiary_relationship {
    top: 268px;
  }
  .document_beneficiary_address {
    top: 297px;
  }
}

/* SM */
@media (min-width: 640px) {
  .document_date {
    position: absolute;
    top: 110px;
    left: 75px;
    font-size: 10px;
  }

  .document_investor {
    position: absolute;
    top: 225px;
    left: 125px;
    font-size: 10px;
  }

  .document_unit {
    position: absolute;
    top: 345px;
    left: 380px;
    font-size: 10px;
  }

  .document_unit_price {
    position: absolute;
    top: 98px;
    left: 330px;
    font-size: 10px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 114px;
    left: 200px;
    font-size: 10px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 114px;
    left: 300px;
    font-size: 10px;
  }

  .document_investor_name {
    position: absolute;
    top: 94px;
    left: 100px;
    font-size: 10px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 140px;
    background-color: transparent;
    font-size: 10px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 160px;
  }
  .document_nok_relationship {
    top: 190px;
  }
  .document_nok_address {
    top: 218px;
  }
  .document_beneficiary {
    top: 247px;
  }
  .document_beneficiary_relationship {
    top: 277px;
  }
  .document_beneficiary_address {
    top: 307px;
  }
}

/* MD */
@media (min-width: 768px) {
  .document_date {
    position: absolute;
    top: 135px;
    left: 90px;
    font-size: 14px;
  }

  .document_investor {
    position: absolute;
    top: 275px;
    left: 150px;
    font-size: 14px;
  }

  .document_unit {
    position: absolute;
    top: 418px;
    left: 460px;
    font-size: 14px;
  }

  .document_unit_price {
    position: absolute;
    top: 120px;
    left: 400px;
    font-size: 13px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 140px;
    left: 250px;
    font-size: 13px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 140px;
    left: 362px;
    font-size: 13px;
  }

  .document_investor_name {
    position: absolute;
    top: 115px;
    left: 115px;
    font-size: 13px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 170px;
    background-color: transparent;
    font-size: 12.5px;
    padding: 4px;
    width: 50%;
    z-index: 10;
  }
  .document_nok {
    top: 195px;
  }
  .document_nok_relationship {
    top: 230px;
  }
  .document_nok_address {
    top: 265px;
  }
  .document_beneficiary {
    top: 300px;
  }
  .document_beneficiary_relationship {
    top: 335px;
  }
  .document_beneficiary_address {
    top: 372px;
  }
}

/* LG */
@media (min-width: 1024px) {
  .document_date {
    position: absolute;
    top: 165px;
    left: 115px;
    font-size: 14px;
  }

  .document_investor {
    position: absolute;
    top: 335px;
    left: 170px;
    font-size: 15px;
  }

  .document_unit {
    position: absolute;
    top: 510px;
    left: 560px;
    font-size: 15px;
  }

  .document_unit_price {
    position: absolute;
    top: 150px;
    left: 500px;
    font-size: 15px;
  }

  .document_unit_price_ugx {
    position: absolute;
    top: 174px;
    left: 300px;
    font-size: 15px;
  }

  .document_unit_percentage {
    position: absolute;
    top: 174px;
    left: 445px;
    font-size: 15px;
  }

  .document_investor_name {
    position: absolute;
    top: 145px;
    left: 125px;
    font-size: 15px;
  }
  .document_nok,
  .document_nok_relationship,
  .document_nok_address,
  .document_beneficiary,
  .document_beneficiary_relationship,
  .document_beneficiary_address {
    position: absolute;
    left: 220px;
    background-color: transparent;
    font-size: 14.5px;
    padding: 4px;
    z-index: 10;
  }
  .document_nok {
    top: 243px;
  }
  .document_nok_relationship {
    top: 285px;
  }
  .document_nok_address {
    top: 328px;
  }
  .document_beneficiary {
    top: 370px;
  }
  .document_beneficiary_relationship {
    top: 413px;
  }
  .document_beneficiary_address {
    top: 455px;
  }

  .document_signature {
    position: absolute;
    left: 190px;
    bottom: 255px;
    display: flex;
    background-color: transparent;
    font-size: 14.5px;
    padding: 4px;
    z-index: 10;
  }
}

.document_nok:active,
.document_nok:focus,
.document_nok_address:active,
.document_nok_address:focus,
.document_beneficiary:active,
.document_beneficiary:focus,
.document_beneficiary_address:active,
.document_beneficiary_address:focus,
.document_beneficiary_relationship:active,
.document_beneficiary_relationship:focus,
.document_nok_relationship:active,
.document_nok_relationship:focus {
  outline: none;
}
