@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: white; */
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
}

.container {
  /* max-width: 1200px; */
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-box {
  max-width: 1250px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

body {
  /* background-color: #f7f7f7; */
}

.colored-bg {
  background-color: #f7f7f7;
  /* background-color: #f7f1fa; */
}
:root {
  --main-color: #036eb8;
  /* --main-color: #1f9bf1; */
  /* --light-main-color: #4fa8e7; */
  --light-main-color: #0482dc;
  /* --deep-main-color: #1981cb; */
  /* --deep-main-color: #035d9d; */
  --deep-main-color: #023c65;

  --entire-color: #2b7079;
}
.main-bg {
  background-color: var(--main-color);
}

.head-color {
  color: #043151d6;
}

.main-color {
  color: var(--main-color);
}

.active-link {
  background-color: var(--deep-main-color);
}

.main-deep-bg {
  background-color: var(--deep-main-color);
}

.heading-color {
  color: #013e69;
}

.heading-bg {
  background-color: #013e69;
}

.link-hover:hover {
  background-color: var(--light-main-color);
}

.period-bg {
  background-color: #ede2f4;
}

.entire-bg {
  background-color: var(--entire-color);
}

.entire-color {
  color: var(--entire-color);
}

.invest-input {
  background-color: #036db83c;
  border: none;
}

.invest-container,
.invest-container:focus,
.invest-container:hover,
.invest-container:active {
  background-color: #036db821;
  color: var(--main-color);
  border: none;
  outline: none !important;
}

.share-bg {
  background-color: #036db821;
}
.graph-bg {
  background-color: #19466684;
}

.gray-bg {
  background-color: #f7f7f7;
  /* background-color: #e8e8e8; */
}

.ant-collapse-header-text {
  color: var(--main-color);
  font-size: 110%;
  font-weight: 500;
}

.ant-collapse-item {
  border: none !important;
  background-color: white;
  margin: 20px 0;
  padding: 8px;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.ant-collapse-item-active {
  border: 1px solid #036db84b !important;
}
.ant-collapse-content-box {
  border-top: 1px solid rgb(224, 224, 224);
  padding-top: 20px !important;
}

.ant-collapse {
  background-color: transparent;
}
ol > li {
  margin-bottom: 10px;
  font-size: 120%;
}

ul > li {
  margin-top: 5px;
  font-size: 110%;
}

.rewards th {
  text-align: start;
  font-weight: 600;
  color: var(--main-color);
  padding: 10px 20px;
}

.rewards td {
  color: var(--main-color);
  padding: 5px 20px;
}
.rewards tr:nth-child(even) {
  background-color: #036db814;
}

.rewards td,
.rewards th {
  border-left: 0.5px solid #dddddd;
  border-right: 0.5px solid #dddddd;
}

.rewards td:first-child,
.rewards th:first-child {
  border-left: none;
}

.rewards td:last-child,
.rewards th:last-child {
  border-right: none;
}

.login-btn {
  font-size: 0.9rem;
  border: 1px solid var(--main-color);
  padding: 8px 28px;
  color: var(--main-color);
}

.menu-color {
  color: #656565;
}

.register-btn {
  padding: 0.775rem 5rem;
  margin-top: 0.75rem;
  color: white;
  border-radius: 10px;
  background-color: var(--main-color);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}

@media (max-width: 768px) {
  .numbers-cont div {
    border: none !important;
  }
}

.numbers-cont div {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.numbers-cont div:first-child {
  border-left: none;
}

.numbers-cont div:last-child {
  border-right: none;
}

.swiper-pagination {
  /* display: none !important; */
}

.home-property {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.platform-container {
  background-repeat: no-repeat;
  background-position-x: calc(50% - 500px);
  background-position-y: 10px;
}

@media screen and (max-width: 700px) {
  .platform-container {
    background-position: center;
    background-position-y: 32rem;
    padding-bottom: 25rem;
  }

  .pieme-process {
    background-image: none !important;
  }
}

.react-slideshow-container button {
  display: none !important;
}

.gradient-bg {
  background: rgb(0, 64, 108);
  background: linear-gradient(
    253deg,
    rgba(0, 64, 108, 1) 35%,
    rgba(3, 110, 184, 1) 100%
  );
}

.active-menu {
  color: var(--main-color);
}

.how-detail ol {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.how-detail li {
  font-size: 1.08rem;
}
.unit-selected {
  border: 6px solid var(--main-color);
}

.signature-buttons p {
  border: 1px solid var(--main-color);
  padding: 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.signature-input,
.signature-input:focus,
.signature-input:hover,
.signature-input:active {
  color: rgb(82, 82, 82);
  border: none;
  outline: none !important;
  border-bottom: 1px solid gray;
}

.ant-btn-primary {
  background-color: var(--main-color);
}

.phone-input input,
.phone-input input:focus,
.phone-input input:hover,
.phone-input input:active {
  border: none;
  outline: none !important;
  padding: 10px;
  background-color: #ebebeb;
}

.phone-input {
  margin-top: 10px;
}

.ant-spin-dot-spin i {
  background-color: white !important;
}

.transactions table {
  /* border: 1px solid rgba(200, 200, 200, 0.4); */
  width: 100%;
  font-size: 0.875rem;
  overflow-x: auto;
}

.transactions table,
.transactions th,
.transactions td {
  border: 1px solid rgba(200, 200, 200, 0.4);
  border-collapse: collapse;
  padding: 8px 15px;
  text-wrap: nowrap;
  white-space: nowrap; /* Chrome */
}

.transactions th {
  padding: 10px 15px;
  background-color: rgb(220, 220, 220);
}

.detail-form {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.detail-form > div {
  display: flex;
  align-items: center;
  /* vertical-align: center; */
}

.detail-form > div > p {
  color: var(--deep-main-color);
  width: 12rem;
  min-width: 12rem;
  font-size: 0.95rem;
  font-weight: 500;
}

.detail-form p {
  font-size: 0.93rem;
}

.detail-form > div > div {
  width: 100%;
}

.detail-form > div > div p {
  color: red;
  margin-left: 5px;
  font-size: 0.93rem;
  margin-top: 0.2rem;
}
.detail-form input {
  width: 100%;
  padding: 10px 20px;
  font-size: 0.88rem;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
